.App {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
  }

  
  body {
    
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #ededed;
    background-color: #112e42;
  }