.home {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    align-items:center;
    justify-items:center;
    color: #ededed;
    background:url('../assets/Landscape.png');
    background-size: cover;
  }
  .about{
    width: 100%;
    padding: 5%;
   
    text-align: center;
  }
  
  .about h2 {
    font-size: 4.5em;
  }
  .about span {
    color: #00abf0;
  }
  
  .about p {
    font-size: 2em;
    
  }
  .social-media {
    display: flex;
    gap: 15px; /* Adjust the gap according to your preference */
    justify-content:center;
    
  }
  .Linkedin:hover{
    transform:scale(1.07);
    
  }
  .whatsapp:hover{
    transform:scale(1.07);
    
  }
  .messenger:hover{
    transform:scale(1.07);
    
  }
  .email:hover{
    transform:scale(1.07); 
    
  }
 
  
  /* Optional: Add space to the last icon to prevent extra space */
 
  .button-1{
    cursor: pointer;
    margin-top: 2rem;
    background-color: #00abf0;
    border: none;
    color: #112e42;
    padding: 10px 15px;
    margin-right: 2rem;
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    transition-duration: 500ms;
}
.button-1:hover{
  color: #ededed;
}
  .button-2{
    cursor: pointer;
    margin-top: 2rem;
    border: none;
    border-radius: 5px;
    background:none;
    padding: 10px 15px;
    color: #00abf0;
    margin-right: 2rem;
    font-weight: bold;
    width:fit-content ;
    font-size: 1.2rem;
    transition-duration: 500ms;
}
.button-2:hover{
  background-color: #00abf0;
  color: #ededed;
  border-radius: 5px;
  width: fit-content;
  font-weight: bold;
  font-size: 1.2rem;
}




  
  @media (max-width: 768px) {
    .home {
      grid-template-columns: 1fr;
      height: 60vh;
    }
    .about h2 {
      font-size: 2.4em;
    }
    .about p {
      font-size: 1.2em;
    }
    
  }
  