.projects {
    width: 100%;
    height: auto;
    display: flex;
    padding: 8% 5% 10% 5%;
    align-items: center;
    flex-direction: column;
  }  

  .ProjectData{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 2fr 2fr;
    place-items: center;
    gap: 5%;
  }
  
  /* MENU ITEM STYLING */
  
  .projectItem {
    border-radius: .5rem;
    background-color: #081b29;
    width: 100%;
    height: 550px;
    margin-top: 5%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    
  }
  .projectItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .projectItem .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
  }
  
  .projectItem h1 {
    font-size: 1.5rem;
    color:#00abf0;
    padding-top: 5%;
    
  }
  
  @media only screen and (max-width: 1300px) {
    .ProjectData {
      grid-template-columns: 2fr ;
    }
    .projects{
      padding-top: 20%;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .ProjectData {
      grid-template-columns: 2fr;
    }
    .projects{
      
      padding: 25% 5% 50% 5%;
    }

  }
  
  @media only screen and (max-width: 800px) {
    .ProjectData {
      width: 100%;
    }
    .projectItem {
      width: 100%;
      height: 300px;
    }
  }