.project {
    width: 100%;
    height: auto;
    padding: 5%; 
    
  }
  
  .project h1 {
    margin-top: 8rem;
    text-align: center;
    color: #ededed;
    font-size: 3rem;
    margin-bottom: 3%;
  }
 .project-img{
  width: 60%;
  height: 500px;
  overflow: hidden;
  border-radius: 15px;
  margin: auto;
 }
img{
  height: 520px;
  
}
  
  .project p {
    font-size: 1.7rem;
    color: #ededed;
    text-align: center;
    margin-top: 2%;
  }
  
  .project svg {
    font-size: 60px;
    color: #ededed;
    margin-left:50%;
    margin-bottom: 5%;
  }